numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
statsmodels>=0.14.0   # For ADF Co-integration
numba>=0.57.0         # For High-Speed Physics calc
questdb               # For Tick Data Storage
yfinance              # For Live/Hist Data
termcolor             # For the Dashboard UI
